*{margin: 0;padding: 0;}

html{
    font-family: 'Roboto', sans-serif;
}

h1{
    display: inline-block;
    margin: auto;
    margin-left: 20rem;
    color: coral;
}
.content{
    position: absolute;
    z-index: 1;
    left: 25%;
    top: 25%;
    color: #FFF;
    background-color: coral;
    height: 35rem;
    width: 40rem;
    border: #000 solid 4px;
}

h2{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

label{
    margin-left: 1rem;
}

input{
    margin-bottom: .5rem;
}

textarea {
    margin-bottom: .5rem;
}

select{
    margin-bottom: .5rem;
}

input[type=text], input[type=email], input[type=number]{
    width: 20rem;
    height: 1.5rem;
}

input[type=submit]{
    margin-left: 1rem;
    height: 2rem;
    width: 8rem;
    background-color: cornflowerblue;
    text-transform: uppercase;
    font-weight: bold;
}